
.vertical-part {
    display: flex;
    flex-direction: column;
    height: auto;

}

body>div:first-child {
    width: 40%;
    align-items: center;
    background-color: #f1eeee;
    border-right-style: ridge;
    border-width: 2px;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
    background-size: auto;
}

#right-side{
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    min-width: 800px;
}

#right-side>div{
    width: 100%;
    margin: 0;
    border-width: 7px;
}

#right-side>div:first-child {
    font-weight: bold;
}

#right-side>div:first-child, #right-side>div:last-child {
    background-color: #F1F0F0;
    height: 30%;
}

#form-box {
    font-size: 14pt;
    font-family: "Allerta";
    height: 40%;
    border-style: groove none;
    border-width: 5px;
}

form {
    width: 60%;
    height: 90%;
}



body {
    display: flex;
    flex-direction: row;
    width:100vw;
    min-width: 900px;
    height:100vh;
}

#banner {
    position: relative;
    top: 10%;
    width: 100%;
    height: 20%;
    background-color: rgba(0,0,0,.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40pt;
    font-family: "Allerta";
}

#banner img {
    height: 80%;
}

caption {
    text-align: start;
    padding-bottom: 20px;
    font-size: 20pt;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

td {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    width: 40%;
}

input {
    width: auto;
    height: 2rem;
    margin-top: 5px;
    border-radius: .3em;
    padding-left: 10px;
    font-size: 14pt;
}

table {
    width: 100%;
}

button {
    min-width: 150px;
    max-width: 300px;
    min-height: 60px;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    background-color: #676;
    border-style: none;
    border-radius: .35em;
}

#right-side>div>* {
    margin: 30px 0  0 40px;
}


#prompt>div {
    margin: 20px 0 0 40px;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#prompt>div>* {
    width: 60%;
    font-size: 20pt;
}

#prompt>*>span {
    font-style: italic;
}

#create-or-login {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#create-or-login>*>* {
    width: 40%;
    margin-bottom: 20px;
    font-size: 20pt;
}

#create-or-login>*>*+*{
    margin-left: 2px;
}

#create-or-login>div>div>a {
    color: #676;
    text-decoration: none;
    font-weight: 800;
}

#citation {
    position: relative;
    color: white;
    font-weight: 550;
    top: 75%;
    font-size: 14pt;
}


input:invalid {
    border:#FF9999 solid 3px;
}

